* {
    box-sizing: border-box;
}

html {
    text-align: center;
    background-color: antiquewhite;
}

section.notes {
    margin: 1rem auto;
    padding: 20px;
    border: 2px solid rgb(129, 126, 126);
    width: 50vw;
    background-color: floralwhite;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
button {
    margin: 1rem;
    padding: 5px 5px;
    align-self: flex-start;
    background-color: darksalmon;
    border: 0px;
    border-radius: 5px;
    color: black;
}

textarea {
    background-color: seashell;
    border-radius: 5px;
    width: 50vw;
    font-size: 1.5rem;
}

section.notes.hidden {
    display: none;
}

@media only screen and (max-width: 1100px) {
    textarea, section.notes{
        width: 70vw;
    }
}
